{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
 <h1>Add a new contact</h1><br><br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
 </div>
{% endblock %}