{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<h1>Contact info</h1><br><br>
      <div class="row">
        <div class="col" >
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3" align="center"> 
                {% if contact.imageUpload is empty %}
                  No image uploaded for this contact.
                  {% else %}
                  <img alt="Contact Photo" src="{{ asset('uploads/') }}{{ contact.imageUpload }}" class="img-circle">
                {% endif %}
                </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td>{{ contact.firstName }}</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>{{ contact.lastName }}</td>
                      </tr>
                      <tr>
                        <td>Street & Number:</td>
                        <td>{{ contact.streetAndNumber }}</td>
                      </tr>
                      <tr>
                        <td>Zip:</td>
                        <td>{{ contact.zip }}</td>
                      </tr>
                      <tr>
                        <td>City:</td>
                        <td>{{ contact.city }}</td>
                      </tr>
                      <tr>
                        <td>Country:</td>
                        <td>{{ contact.country }}</td>
                      </tr>
                      <tr>
                        <td>Phone Number:</td>
                        <td>{{ contact.phoneNumber }}</td>
                      </tr>
                      <tr>
                        <td>Birthday:</td>
                        <td>{{ contact.birthDay }}</td>
                      </tr>
                      <tr>
                        <td>Email Address:</td>
                        <td>{{ contact.emailAddress }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <a href="/" class="btn btn-info"><- Back to all contacts</a>
                  <a href="/edit/{{ contact.Id }}" class="btn btn-primary">Edit contact</a>
                  <a href="/remove/{{ contact.Id }}" class="btn btn-danger confirm">Remove contact</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    {% endblock %}