{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
<h1>All contacts</h1><br><br>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">E-mail address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for contact in contacts %}
    <tr>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.phoneNumber }}</td>
      <td>{{ contact.emailAddress }}</td>
      <td><a href="/details/{{ contact.Id }}" class="btn btn-outline-success">Contact details</a></td>
      <td><a href="/edit/{{ contact.Id }}" class="btn btn-primary">Edit contact</a></td>
      <td><a href="/remove/{{ contact.Id }}" class="btn btn-danger confirm">Remove contact</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
 </div>
{% endblock %}